:root {
  --primary-color: #ff6b35;
  --secondary-color: #f7c948;
  --text-color: #212529;
  --background-color: #fffdf9;
  --light-section: #f8f9fa;
  --border-radius: 12px;
  --font-family: "Poppins", sans-serif;
}

#popularProducts .card-img-top {
  height: 220px;
  object-fit: cover;
}

#popularProducts .productCard {
  margin: 1rem 0;
}

#popularProducts .price {
  color: var(--primary-color);
  font-size: 1.5rem;
}

#popularProducts .addCart {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: 0.3s;
}

#popularProducts .addCart:hover {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#popularProducts .addCart:active {
  background-color: var(--primary-color) !important;
  color: white !important;
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}

#popularProducts .card {
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0.05, 0.09);
}

#popularProducts .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(255, 107, 53, 0.18);
}

#popularProducts .card-img-top {
  height: 220px;
  object-fit: cover;
}

#popularProducts .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#popularProducts .card-body {
  display: flex;
  flex-direction: column;
}

#popularProducts .card-body .addCart {
  margin-top: auto;
}
.favorite-btn {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 42px;
    height: 42px;

    border: none;
    border-radius: 50%;

    background-color: white;
    color: #ff6500;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

    z-index: 2;
    cursor: pointer;

    transition: 0.3s;
}

.favorite-btn:hover {
    background-color: #ff6500;
    color: white;
    transform: scale(1.1);
}
.hover{
  background-color: #e95700;
  color: white;
}
/* Media */

@media (min-width: 992px) {
  #popularProducts .card-img-top {
    height: 200px;
  }
  #home1 h1 {
    font-size: 3.5rem;
  }
  .offer-image {
    max-width: 340px;
  }
}

@media (min-width: 1200px) {
  #home1 h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1400px) {
  #home1 h1 {
    font-size: 4.5rem;
  }

  #home1 p {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 768px) {
  .offer-image {
    max-width: 340px;
  }
}

Footer Logo Styling footer h6 span {
  font-family: var(--font-family);
  letter-spacing: 1px;
}
